<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
</head>
<style>
    #card{
        display: none;
        border-radius: 10px;
    }
    p{
        font-weight: bold;
    }
</style>
<body class="bg-dark text-center">
    <h1 class="text-center text-white mt-5">ESTADISTICAS <span class="text-danger">COVID-19</span></h1>
    
    <form method="post" action="" class="d-flex justify-content-center align-items-center mt-5">
        {% csrf_token %}
        <select class="form-control" name="selectedcountry" style="width: 200px;">
            {% for country in countries %}
                <option>{{ country }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-outline-danger ms-3" type="submit">
    </form>
    
    {% if not pais == '' %}
    <h1>{{ pais }}</h1>
    <div class="container">
        <div class="row text-white d-flex justify-content-center align-items-center">
            <div class="col-md-3 bg-info mx-3 my-3" id="card"> 
                <h1> {{ new }} </h1>
                <p>Nuevos casos</p>
            </div>
            <div class="col-md-3 bg-light mx-3 my-3 text-dark" id="card"> 
                <h1> {{ active }} </h1>
                <p>Casos activos</p>
            </div>
            <div class="col-md-3 bg-warning mx-3 my-3" id="card"> 
                <h1> {{ critical }} </h1>
                <p>Casos criticos</p>
            </div>
        </div>
        <div class="row text-white d-flex justify-content-center align-items-center">
            <div class="col-md-3 bg-success mx-3 my-3" id="card"> 
                <h1> {{ recovered }} </h1>
                <p>Casos recuperados</p>
            </div>
            <div class="col-md-3 bg-danger mx-3 my-3" id="card"> 
                <h1> {{ deaths }} </h1>
                <p>Bajas</p>
            </div>
            <div class="col-md-3 bg-primary mx-3 my-3" id="card"> 
                <h1> {{ total }} </h1>
                <p>Total</p>
            </div>
        </div>
    </div>
    {% endif %}
    <footer class="d-flex justify-content-center align-items-center text-white mt-5">
        <p>Developed by</p>
        <p class="text-secondary mx-2">Jeremias D. Caceres</p>
        <p class="fw-lighter">2021</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    $(document).ready(function(){
        $("div#card").fadeIn( 2000 );
    })
</script>

</body>
</html>
